<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Resources 💰
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://github.com/d3/d3">https://github.com/d3/d3</a>
          <a href="https://subscription.packtpub.com/book/web_development/9781838645571/1/ch01lvl1sec04/modules-microlibraries">https://subscription.packtpub.com/book/web_development/9781838645571/1/ch01lvl1sec04/modules-microlibraries</a>
          <a href="https://marmelab.com/EventDrops/">https://marmelab.com/EventDrops/</a>
          <a href="https://bost.ocks.org/mike/selection/">https://bost.ocks.org/mike/selection/</a>
          <a href="https://observablehq.com/">https://observablehq.com/</a>
          <a href="https://bl.ocks.org/">https://bl.ocks.org/</a>
          <a href="https://coggle.it/diagram/YNyRpEGjTcXVJBsW/t/angular">https://coggle.it/diagram/YNyRpEGjTcXVJBsW/t/angular</a>
          <a href="https://www.visualcinnamon.com/">https://www.visualcinnamon.com/</a>
          <a href="https://www.sarasoueidan.com/tags/svg/">https://www.sarasoueidan.com/tags/svg/</a>
          <a href="https://github.com/tomeustace/intro-to-angular-with-d3">https://github.com/tomeustace/intro-to-angular-with-d3</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Books 📚
            <a href="https://www.manning.com/books/d3-js-in-action">https://www.manning.com/books/d3-js-in-action</a>
            <a href="https://www.oreilly.com/library/view/svg-animations/9781491939697/">https://www.oreilly.com/library/view/svg-animations/9781491939697/</a>
            <a href="https://www.edwardtufte.com/tufte/books_vdqi">https://www.edwardtufte.com/tufte/books_vdqi</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
