<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>SVG Shapes</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> rect </li>
              <li> circle </li>
              <li> ellipse </li>
              <li> path </li>
              <li> polygon </li>
              <li> polygonline </li>
              <li> line </li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(-120, -200)" xmlns="http://www.w3.org/2000/svg">
                <line x1="30" y1="30" x2="350" y2="290" style="stroke:rgb(255,0,0); stroke-width:3" />
                <line x1="30" y1="50" x2="300" y2="350" style="stroke:grey; stroke-width:5" />
                <rect x="60" y="100" width="70" height="40" rx="10" ry="10" style="fill:#778899; stroke:#FF4500; stroke- width:5; fill-opacity:0.7; stroke-opacity:0.6" />
                <polygon points="160,10 350,140 210,350 50,199" style="fill:orange; stroke:purple; stroke-width:1; fill-opacity:1" />
                <rect x="120" y="150" width="90" height="90" style="fill:grey; stroke-width:3; stroke:rgb(0,0,0)" />
                <circle cx="250" cy="100" r="60" stroke="black" stroke-width="3" fill="red" fill-opacity="0.7" />
                <ellipse cx="140" cy="310" rx="90" ry="20" style="fill:OrangeRed" />
                <ellipse cx="120" cy="280" rx="110" ry="20" style="fill:grey; fill-opacity:0.5" />
                <polyline points="220,200 240,180 260,200 280,180 300,200 320,180 340,200" style="fill:none; stroke:red; stroke-width:6" />
                <line x1="20" y1="80" x2="100" y2="200" style="stroke:orangered; stroke-width:8" />
                <polyline points="280,290 300,220 320,290" style="fill:grey; stroke:grey; stroke-width:2; fill-opacity:0.5" />
            </svg>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Rectangle Attributes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> x </li>
              <li> y </li>
              <li> rx </li>
              <li> ry </li>
              <li> width</li>
              <li> height </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="50" width="50" height="50" style="fill:red; stroke-width:3; stroke:rgb(0,0,0)" />
                <rect x="40" y="150" width="60" height="70" style="fill:gold; stroke-width:3; stroke:rgb(0,0,0)" />
                <rect x="80" y="250" rx="20" width="120" height="90" style="fill:green; stroke-width:3; stroke:rgb(0,0,0)" />
            </svg>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Circle Attributes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> cx </li>
              <li> cy </li>
              <li> r </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
                <circle cx="70" cy="100" r="60" stroke="black" stroke-width="3" fill="blue" />
                <circle cx="70" cy="100" r="40" stroke="black" stroke-width="3" fill="green" />
                <circle cx="70" cy="100" r="20" stroke="black" stroke-width="3" fill="red" />

                <circle cx="70" cy="220" r="20" stroke="black" stroke-width="3" fill="red" />
                <circle cx="100" cy="220" r="18" stroke="black" stroke-width="3" fill="red" />
                <circle cx="130" cy="220" r="16" stroke="black" stroke-width="3" fill="red" />
                <circle cx="155" cy="220" r="14" stroke="black" stroke-width="3" fill="red" />

                <circle cx="20" cy="320" r="20" stroke="black" fill="yellow" />
                <circle cx="40" cy="320" r="18" stroke="black" fill="yellow" />
                <circle cx="60" cy="320" r="16" stroke="black" fill="yellow" />
                <circle cx="80" cy="320" r="14" stroke="black" fill="yellow" />
            </svg>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ellipse Attributes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> cx </li>
              <li> cy </li>
              <li> rx </li>
              <li> ry </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="40" cy="50" rx="40" ry="50" style="fill:OrangeRed" />
                <ellipse cx="90" cy="150" rx="90" ry="50" style="fill:green" />
                <ellipse cx="120" cy="220" rx="110" ry="20" style="fill:grey; fill-opacity:0.5" />
                <ellipse cx="120" cy="250" rx="90" ry="20" style="fill:Orange" />
                <ellipse cx="120" cy="290" rx="110" ry="20" style="fill:grey; fill-opacity:0.5" />
            </svg>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Polygon  Attributes(Closed Shapes)
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> points </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
              <polygon points="10,10 250,40 210,450 50,300" style="fill:orange; stroke:purple; stroke-width:1; fill-opacity:1" />
              <polygon points="0,100 50,25 50,75 100,0" />
              <polygon points="0,100 50,25 50,75 100,0" />
            </svg>
          </div>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Polyline  Attributes(Open Shapes)
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> points </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
              <polyline points="20,200 40,180 60,200 80,180 100,200 120,180 140,200" style="fill:none; stroke:red; stroke-width:6" />
              <polyline points="80,290 200,220 220,290" style="fill:grey; stroke:grey; stroke-width:2; fill-opacity:0.5" />
            </svg>
            </div>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Path Attributes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> d (attribute) </li>
              <ol>
              <li><b>MoveTo:</b> M, m</li>
              <li><b>LineTo:</b> L, l, H, h, V, v</li>
              <li><b>Cubic Bézier Curve:</b> C, c, S, s</li>
              <li><b>Quadratic Bézier Curve:</b> Q, q, T, t</li>
              <li><b>lliptical Arc Curve:</b> A, a</li>
              <li><b>ClosePath:</b> Z, z</li>
              </ol>
              <li> pathLength</li>
            </ul>
            <svg width="400" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">

              <path d="M140 0 L75 140 L185 200 Z" fill="green" />
              <path transform="translate(0, 220)" d="M 10,30
                        A 20,20 0,0,1 50,30
                        A 20,20 0,0,1 90,30
                        Q 90,60 50,90
                        Q 10,60 10,30 z" fill="red"/>
            </svg>
            </div>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Line
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="shapes">
            <ul>
              <li> x1 </li>
              <li> x2 </li>
              <li> y1 </li>
              <li> y2 </li>
              <li> pathLength</li>
            </ul>
            <svg width="500" height="550" transform="scale(.6), translate(0, -200)" xmlns="http://www.w3.org/2000/svg">
                <line x1="10" y1="80" x2="250" y2="90" style="stroke:green; stroke-width:20" />
                <line x1="0" y1="30" x2="250" y2="290" style="stroke:rgb(255,0,0); stroke-width:3" />
                <line x1="50" y1="30" x2="250" y2="290" style="stroke:rgb(255,0,0); stroke-width:3" />
                <line x1="100" y1="30" x2="250" y2="290" style="stroke:rgb(255,0,0); stroke-width:3" />
              </svg>
          </div>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
